<div nz-row class="scanbar">
  <div nz-col nzFlex="0.5"></div>
  <div nz-col nzFlex="2" style="background-color:#00A79D;" nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
    Name
  </div>
  <div nz-col nzFlex="2" style="background-color:#00A79D;" nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
    Family
  </div>
  <div nz-col nzFlex="2" style="background-color:#00A79D;" nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
    Imported From
  </div>
  <div nz-col nzFlex="2" style="background-color:#00A79D;" nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
    Created
  </div>
  <div nz-col nzFlex="2" style="background-color:#00A79D;" nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
    Modified
  </div>
  <div nz-col nzFlex="2" style="background-color:#00A79D;" nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
    CVE
  </div>
  <div nz-col nzFlex="2" style="background-color:#00A79D;" nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
    Severity
  </div>
  <div nz-col nzFlex="2" style="background-color:#00A79D;" nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
    QOD
  </div>
  <div nz-col nzFlex="0.5"></div>
</div>


<!--<div nz-row class="fullcontent" style="alig: center;">-->
<div nz-row>
  <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
    Col
  </div>
  <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4">
    Col
  </div>
  <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
    Col
  </div>
  <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
    Col
  </div>
  <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
    Col
  </div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
  <div nz-col nzSpan="24"> Col</div>
</div>
