<div nz-row class="scanbar">
    <div nz-col nzFlex="0.5"></div>
    <div nz-col nzFlex="16" style="background-color:#00A79D;">
      Custom Scan Configuration
    </div>
    <div nz-col nzFlex="0.5"></div>
</div>

<!--<div nz-row class="fullcontent">-->
<!--  <div nz-row style="height:16%; width:100%">-->
<!--    <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">-->
<!--      <form nz-form>-->
<!--        <nz-form-item>-->
<!--          <nz-form-label [nzSpan]="6">Name</nz-form-label>-->
<!--          <nz-form-control [nzSpan]="5">-->
<!--            <input nz-input type="text" >-->
<!--          </nz-form-control>-->
<!--        </nz-form-item >-->
<!--      </form>-->
<!--    </div>-->
<!--    <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4">-->

<!--    </div>-->
<!--    <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">-->

<!--    </div>-->

<!--  </div>-->


<!--  <div nz-row style="height:16%; width:100%;margin-top: initial">1</div>-->
<!--  <div nz-row style="height:16%; width:100%;margin-top: initial">2</div>-->
<!--  <div nz-row style="height:16%; width:100%;margin-top: initial">3</div>-->
<!--  <div nz-row style="height:16%; width:100%; margin-top: initial">4</div>-->

<!--</div>-->
<div nz-row>
  <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="1" >
    Col
  </div>
  <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="10" nzXl="22">
    Col MID
  </div>
  <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="1" >
    Col
  </div>
</div>
<div nz-row>
  <div nz-col nzFlex="0.5"></div>
  <div nz-col nzFlex="5.333" style="height:16%;background-color: #D1D3D4">
    <form nz-form>
      <nz-form-item>
        <nz-form-label  [nzSpan]="6">Name</nz-form-label>
        <nz-form-control [nzSpan]="5">
          <input nz-input type="text" >
        </nz-form-control>
      </nz-form-item >
    </form>
  </div>
  <div nz-col nzFlex="5.333" style="background-color: #D1D3D4"></div>
  <div nz-col nzFlex="5.333" style="background-color: #D1D3D4"></div>
  <div nz-col nzFlex="0.5"></div>
</div>

<div nz-row>
  <div nz-col nzFlex="0.5"></div>
  <div nz-col nzFlex="5.333" style="height:16%;background-color: #D1D3D4">
    <form nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Targets</nz-form-label>
        <nz-form-control [nzSpan]="5">
          <input nz-input type="text" >
        </nz-form-control>
      </nz-form-item >
    </form>
  </div>

  <div nz-col nzFlex="5.333" style="background-color: #D1D3D4">
    <form nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Target Profile</nz-form-label>
        <nz-form-control [nzSpan]="12" nzValidateStatus="validating" nzHasFeedback>
          <nz-select name="select-validate" [ngModel]="'Option 2'">
            <nz-option nzValue="Option 1" nzLabel="Option 1"></nz-option>
            <nz-option nzValue="Option 2" nzLabel="Option 2"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div nz-col nzFlex="5.333" style="background-color: #D1D3D4"></div>

  <div nz-col nzFlex="0.5"></div>
</div>
