//.footer{
//  width:100%;
//  height: 10vh;
//  background-color:#211F1B;
//  //position: fixed;
//  bottom: 0;


//
//}
//.footer {
//  background: #42A5F5;
//  color: white;
//  line-height: 50px;
//  padding: 0 20px;
//  height:50px;
//}

nz-layout {
  margin-bottom: 22px;
}
nz-footer {
  line-height: 1.5;
  bottom:0!important;
  //position:absolute!important;
  width:100%;
}
