.dashrow{
  margin-top:2%;
  width: 80%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  background-color: #00A79D;
  height:10%;

}
.innerows {
  width: 80%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  background-color: #D1D3D4;
  height:25vh;

}
.homeItem {
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
